<div class="style1">
	<h1>Lucky Sevens</h1>
		Starting Bet: <input class="txtBox" type="text" id="initialBet" name="bet" value="$0.00"><br>
		<button onclick="luckySevens()" id="p2" class="playButton" type="button">Play</button>
	</form>
</div>
<div style="text-align:center;" id="p1"></div>

<script>
function luckySevens(){

var initialBet = document.getElementById("initialBet").value;
var money = 0;
var die1 = 0;
var die2 = 0;
var dice = 0;
var rollTally = 0;

var money = initialBet;
var moneyHeld = [initialBet];
var win = 4;
var loss = 1;
var maxHeld = 0;
	
	

	do{
		// ROLL DICE
		rollTally++;
		die1 = Math.floor(Math.random() * 6) + 1;
		die2 = Math.floor(Math.random() * 6) + 1;	
		dice = die1+die2;

			// win
			if (dice == 7){
			money = money+win; 
			var last_element = moneyHeld[moneyHeld.length -1]; 
			var last_updated = last_element + win; 
			moneyHeld.push(last_updated);

			// lose
			}else {
			money--;
		
				
			var last_element = moneyHeld[moneyHeld.length -1];
			var last_updated = last_element - loss;
			moneyHeld.push(last_updated);
			rollTally = rollTally++;
			}


	}while(money>0);
	var totalMax = 0;

	totalMax = Math.max.apply(Math, moneyHeld); // finds max money value
	numRolls = moneyHeld.indexOf(totalMax); // finds number of oll to find highest amount
	if(numRolls<1){
		numRolls = 0;
	}

	document.getElementById("p1").innerHTML=("<br><br><table style=\"width: 100% height: 100%;\"><th colspan=\"2\"; class=\"th1\">Results</th><tr><th class=\"th2\">Starting Bet</th><th class=\"th2\">$" + initialBet + ".00</th></tr><tr><td>Total Rolls Before Going Broke</td><td>"+ rollTally +"</td></tr><tr><td>Highes Amount Won</td><td>"+totalMax+"</td></tr><tr><td>Roll Count at Highest Amount Held</td><td>"+ numRolls + "</td></tr></table>");
	document.getElementById("p2").innerHTML="Play Again";

} // end 


</script>